.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    width: 100%;
}

.wrapper div {
    display: flex;
}

.reset-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    width: 100%;
}

.reset-wrapper div {
    display: flex;
    width: 80%;
    height: 100px;
    justify-content: space-evenly;
}

.reset-fields {
    height: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.registration-fields {
    /* height: 50px; */
    flex-wrap: wrap;
    align-items: center;
    width: 50vh;
    justify-content: space-between;
}

.is-admin-field {
    align-items: center;
}

.button-field {

}

.container {
    display: flex;
    justify-content: space-evenly;
}

.form-change-password {
    width: 70vh;
}

.change-password-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.change-password-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
}