.table-style {
  overflow: auto;
  display: block;
  table-layout: auto;
}

.table-options {
  display: flex;
  justify-content: space-between;
}

.table-search {
  text-align: left;
  display: flex;
}

.table-export {
  text-align: right;
  display: flex;
}

.react-bootstrap-table {
  width: 190vh;
}
.dropdown-menu {
  width: 75px !important;
  min-width: 75px !important;
  position: relative;
  text-align: center;
}

.react-bootstrap-table-pagination div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.react-bs-table-sizePerPage-dropdown {
  display: flex;
  flex-direction: column;
}

.react-bootstrap-table-pagination-total {
  display: flex;
  align-content: flex-start;
}

.table-date-range-filter {
  display: flex;
}

.rangeFilter {
  display: flex;
  justify-content: center;
  align-items: center;
}